Archetype for POM projects and modules of Orne.dev.

Used mainly for multi-module projects and nested POMs.

# Usage

```shell
mvn archetype:generate                                  \
      -DarchetypeGroupId=${project.groupId}             \
      -DarchetypeArtifactId=${project.artifactId}       \
      -DarchetypeVersion=${project.version}             \
      -DgroupId=<my.groupid>                            \
      -DartifactId=<my-artifactId>                      \
      -Dversion=<my.version>
```

## Features

Generates a project/module with parent POM `dev.orne:root-pom.

When use to create modules of multi-module Maven projects automatically cleans
the additional configuration and launchers intended for root projects.

For full list of features see the [parent POM documentation][parent pom doc].

[parent pom doc]: https://orne-dev.github.io/maven-root/
